/*Добавьте стили для верхнего меню, товара, списка товаров и кнопки вызова корзины.
*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}

#root {
    height: 100vh;
    position: relative;
}

.base {
    flex-grow: 1;
}

header {
    background-color: #c7e1e199;
    border-bottom: 4px solid #b0c1cb52;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart-button {
    margin-right: 20px;
    border: none;
    background-color: #af4a68;
    color: white;
    padding: 7px 15px;
    border-radius: 19px;
    cursor: pointer;
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}

.goods-item {
    background-color: #ab7c3b59;
    background-color: #ab7c3b59;
    text-align: center;
}

.goods-list p {
    text-align: center;
}

.search-value {
    border: 1px solid lightgrey;
    padding: 3px 5px;
    margin-right: 5px;
    width: 178px;
}

.search-button {
    border: none;
    padding: 4px 5px;
    color: white;
    background-color: #8f9da9;
    margin-left: -5px;
    margin-right: 20px;
}

.cart {
    position: relative;
}

.cartArea {
    width: 600px;
    height: 400px;
    border: 2px solid rgb(211, 205, 205);
    background-color: #f2f5f7ed;
    ;
    font-weight: 300px;
    font-size: 18px;
    padding: 15px 25px;
    position: absolute;
    right: 20px;
    top: 35px;
}

.openCart {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.openCart div {
    cursor: pointer;
}

.basketItem {
    border: 2px solid rgb(211 205 205);
    border-radius: 10px;
    background-color: #fbfbfb;
    margin-bottom: 5px;
    padding-left: 23px;
    padding-right: 23px;
    display: flex;
    justify-content: space-between;
}

.countProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countButton {
    background-color: #afb8bf;
    border: none;
    padding: 5px;
    width: 29px;
    border-radius: 12px;
    font-weight: 700;
    font-size: large;
}

.error {
    width: 300px;
    min-height: 20px;
    background-color: #8f9da957;
    padding: 6px 10px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.error div {
    display: block;
    cursor: pointer;
    margin-left: 20px;
}